<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axel_stein.glucose_tracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlucoseTracker.NoActionBar"
        android:name="com.axel_stein.glucose_tracker.ui.App"
        android:fullBackupContent="@xml/backup_descriptor"
        android:allowBackup="true">

        <activity
            android:name="com.axel_stein.glucose_tracker.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_glucose.EditGlucoseActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_note.EditNoteActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_a1c.EditA1cActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_insulin_log.EditInsulinLogActivity" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/action_settings"/>

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_insulin.EditInsulinActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_medication.EditMedicationActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_medication_log.EditMedicationLogActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_weight.EditWeightActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_ap.EditApActivity" />

        <activity android:name="com.axel_stein.glucose_tracker.ui.edit.edit_pulse.EditPulseActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.axel_stein.glucose_tracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

    </application>

</manifest>